/*!
 * Start Bootstrap - Thumbnail Gallery (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.item{
    font-size: 18px;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.rounder {
    border-radius: 100%;
    width: 70 px;
    height: 70px;
}
.custom-list{
 
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0;
    
}

.item{
    margin-left: 0px;
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}