<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">Qminder Task</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav item">
                    <li>
                         <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                         <a [routerLink]="['/about']">About this</a>
                    </li>
                    <!--li>
                        <a [routerLink]="['/single-picture']">single-picture </a>
                    </li-->    
                </ul>
            </div>
        </div>
    </nav>

    