<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Qminder</title>
  <base href="/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Salman Lashkarara">

    <title>Thumbnail Gallery - Start Bootstrap Template</title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="app/shared/css/thumbnail-gallery.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    {{#unless environment.production}}
    <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
    {{/unless}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  
        <app-root>Loading...</app-root>
        
          {{#each scripts.polyfills}}
          <script src="{{.}}"></script>
          {{/each}}
          <script>
            System.import('system-config.js').then(function () {
              System.import('main');
            }).catch(console.error.bind(console));
          </script>
  
</body>
</html>
